{% extends template.html %}
{% block body %}
    <h1>Authorization Page</h1>
    <form method="post" action="/stock-api/authorize?from={{ handler.get_query_argument('from', '') }}">
        <p>Please, enter your credentials:</p>
        <p>
            <label for="login">Username:</label><br>
            <input required id="login" name="username" class="login_username"/> <br/>
            <label for="password">Password:</label><br/>
            <input type="password" required id="password" name="password" class="login_password"/> <br/>
        </p>
        <button type="submit" id="submit">Submit</button>
    </form>
{% end %}
