{% extends template.html %}
{% block body %}
    <h1>Index Page</h1>
    <div>
        <ul>
            <li><a href="/stock-client">Stock Request</a></li>
            <li><a href="/stock-admin">Stock Management</a></li>
        </ul>
    </div>
{% end %}
