{% extends template.html %}
{% block title %}Stock Management{% end %}
{% block body %}
    <h1>Stock Management</h1>
    <div>
        <div id="hi_block"></div>
        <form id="positions_form" style="width:1000px">
            <button id="positions_reload" class="refresh">↻</button>
            
            <table class="data_view" id="positions_table" style="width: 100%">
            </table>
            
            <div>
                <button id="positions_submit" type="submit">Request positions</button>
            </div>
        </form>
        </div>

<style>
.refresh
{
    float: right;
    display: inline-block;
    transform: rotate(90deg);
}
</style>

<script>
    const deliveryRequests = [ ];
    
    const table = $('#positions_table');
    const tableRefreshButton = $('#positions_reload');
    const tableHead = ['№', 'Request ID', 'Positions', 'Validate'];
    const tableFields = ['#', 'id', '$positions', '$validate'];
    const tableCustomHandlers =
    {
        'positions': function (td, data)
        {
            const t = $('<table style="width:600px"></table>');
            const tHead = ['№', 'Name', 'Description', 'Count (in stock)'];
            const tFields = ['#', 'name', 'description', 'count'];
            createTable(t, tHead, tFields);
            console.log(data);
            data.positions.forEach(p =>
            {
                const position = positions.find(t => t.id === p.id);
                const data = Object.assign({}, position);
                data.count = `${p.count} (${data.count})`;
                addRow(t, tFields, data);
            });
            
            t.appendTo(td);
        },
        'validate': function (td, x)
        {
            $(`<button id="{x.id}:accept">Accept</button>`)
                .click(function (e)
                {
                    e.preventDefault();
                    sendDeliveryResp(x.id, true);
                })
                .appendTo(td);
            $(`<button id="{x.id}:deny">Deny</button>`)
                .click(function (e)
                {
                    e.preventDefault();
                    sendDeliveryResp(x.id, false);
                })
                .appendTo(td);
        },
    };
    
    function updateTable()
    {
        clearTable(table);
        deliveryRequests.forEach(f => addRow(table, tableFields, f, tableCustomHandlers));
    }
    
    // WsEvent requests
    function sendDeliveryResp(request_id, result)
    {
        sendEvent(new WsEvent('delivery_resp', request_id, result));
        sendRequestsReq();
    }
    function sendConnectionsReq()
    { sendEvent(new WsEvent('connections_req')) }
    function sendRequestsReq()
    { sendEvent(new WsEvent('requests_req')) }
    
    
    // Handlers
    function handleBye(event)
    { }
    function handleInitResp(event)
    {
        $('#hi_block').text(event.data);
        sendRequestsReq();
    }
    function handleDeliveryReq(event)
    {
        deliveryRequests.push({ id: event.request_id, positions: event.data });
        loadPositions(updateTable);
    }
    function handleConnectionsResp(event)
    { }
    function handleRequestsResp(event)
    {
        deliveryRequests.length = 0;
        Object.keys(event.data).forEach(id => { deliveryRequests.push({ id, positions: event.data[id] }); });
        loadPositions(updateTable);
    }
    function handleRemoveRequestResp(event)
    {
        for(let i in deliveryRequests)
            if (deliveryRequests[i].id === event.request_id)
            {
                deliveryRequests.splice(i, 1);
                loadPositions(updateTable);
                break;
            }
    }
    
    $(document).ready(function()
    {
        createTable(table, tableHead, tableFields);
        checkAuth();
        addHandler('bye', handleBye);
        addHandler('init_resp', handleInitResp);
        addHandler('delivery_req', handleDeliveryReq);
        addHandler('connections_resp', handleConnectionsResp);
        addHandler('requests_resp', handleRequestsResp);
        addHandler('remove_request_resp', handleRemoveRequestResp);
        establishConnection();
    });
</script>
{% end %}
