{% extends template.html %}
{% block title %}Stock Delivery Requests{% end %}
{% block body %}
    <h1>Stock Delivery Requests</h1>
    <div>
        <form id="positions_form" style="width:680px">
            <button id="positions_reload" class="refresh">↻</button>
            
            <table class="data_view" id="positions_table" style="width: 100%">
            </table>
            
            <div>
                <button id="positions_submit" type="submit">Request positions</button>
            </div>
        </form>
    </div>

<style>
.refresh
{
    float: right;
    display: inline-block;
    transform: rotate(90deg);
}
</style>

<script>
    const table = $('#positions_table');
    const tableSubmitButton = $('#positions_submit');
    const tableRefreshButton = $('#positions_reload');
    const tableHead = ['№', 'Name', 'Description', 'Count in stock', 'Request'];
    const tableFields = ['#', 'name', 'description', 'count', '$position_request_count'];
    const tableCustomHandlers =
    {
        'position_request_count': function (td, x)
        {
            $(`<input value="0" class="position_request_count" type="number" min="0" style="width:50px">`)
                .change(setSubmitActive)
                .change(updateValueAttribute)
                .appendTo(td);
        }
    };
    
    function updatePositions()
    {
        clearTable(table);
        positions.forEach(f => addRow(table, tableFields, f, tableCustomHandlers));
        setSubmitActive();
    }
    
    function updateValueAttribute(e)
    {
        e.target.setAttribute('value', e.target.value);
    }
    
    function setSubmitActive()
    {
        const button = $(`#${tableSubmitButtonId}`);
        button.attr('disabled', true);
        table.find('.position_request_count').each((_, v) => { if (v.value > 0) button.attr('disabled', false) } );
    }
    
    $(document).ready(function()
    {
        createTable(table, tableHead, tableFields);
        checkAuth();
        loadPositions(updatePositions);
    });
    
    tableSubmitButton.click(function (e)
    {
        e.preventDefault();
        const data = [ ];
        table.children('tr:has(td)').each((_, row) => {
            const count = $(`#${row.id} .position_request_count`).val();
            if (count > 0)
                data.push({ id: row.id, count: count });
        });
        requestStockDelivery(data, updatePositions);
    });
    
    tableRefreshButton.click(function (e)
    {
        e.preventDefault();
        loadPositions(updatePositions);
    });

</script>
{% end %}
