<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ getattr(handler, 'name', "Default Title") }}{% end %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tables.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/alerts.css">
    <script src="/static/scripts/dynamic-tables.js"></script>
    <script src="/static/scripts/alerts.js"></script>
    <script src="/static/scripts/stock-api.js"></script>
    <script src="/static/scripts/ws-lib.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="/static/scripts/smooth_scroll.js"></script>-->
    {% block head %} {% end %}
</head>
<style>
    {% block style %} {% end %}
</style>
<body>
    <div class="page">
        {% try %}
            {{ f"<!--{alert}-->" }}
        {% except NameError as e %}
            {% set alert = dict(visible=False) %}
        {% end %}
        <div id="alert_box" class="alert {{ alert.get('type', 'error') }}" {{ '' if (alert.get('visible', True)) else 'hidden="hidden"' }} >
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% if alert.get('show_prefix', True) %}
                <strong>{{ alert.get('type', 'error').capitalize() }}!</strong>
            {% end %}
            {{ alert.get('message', '') }}
        </div>
        {% block body %}
            <h1>This is template page</h1>
            <div>
                You will never see it.
            </div>
        {% end %}
    </div>
</body>
<script>
    const stockApiPath = '/stock-api';
</script>
</html>
