.alert
{
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    
    position: fixed; /* Sit on top of the page content */
    width: 620px;
    
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success
{background-color: #4CAF50;}
.alert.info
{background-color: #2196F3;}
.alert.warning
{background-color: #ff9800;}

.closebtn
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover
{
    color: black;
}
