div
{
    padding: 10px 0;
}

div.page
{
    padding: 50px 30px 50px 80px;
}

ul
{
    margin-block-start: 0.2em;
    margin-block-end: 0;
}

.http_method_name
{
    font-weight: bold;
}

.field_name
{
    font-weight: bold;
}

.regular
{
    color: black;
    background: lightgreen;
    font-family: monospace;
    word-break: break-all;
}

.monospace
{
    font-family: monospace;
    word-break: break-all;
}

.tooltip
{
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext
{
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    font-size: smaller;
    border-radius: 6px;
    padding-left: 1em;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0.2em;
}

.tooltip:hover .tooltiptext
{ visibility: visible; }
