form
{
    width: 600px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form.auth
{
    margin: 0 auto;
}

label span
{
    display: inline-block;
    width: 120px;
    text-align: right;
}

input, textarea
{
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input[type=checkbox], input[type=radio]
{
    width: auto;
    border: none;
}

input:focus, textarea:focus
{
    border-color: #000;
}

textarea
{
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

button
{
    margin: 20px 0 0 124px;
}

label
{
    position: relative;
}

label em
{
    position: absolute;
    right: 5px;
    top: 20px;
}
