table.data_view
{
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

table.data_view tr > th
{
    text-align: center;
    strong: true;
    border: 1px solid #CCC;
}
table.data_view tr > td
{
    text-align: center;
    border: 1px solid #CCC;
}

table.data_view td, table.data_view th
{
    border: 1px solid #CCC;
}
table.data_view tr:first-child th,
table.data_view tr:first-child td
{
    border-top: 0;
}
table.data_view tr:last-child td
{
    border-bottom: 0;
}
table.data_view tr td:first-child,
table.data_view tr th:first-child
{
    border-left: 0;
}
table.data_view tr td:last-child,
table.data_view tr th:last-child
{
    border-right: 0;
}


table.key_value
{
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

table.key_value tr > th
{
    strong: true;
    border: 1px solid #CCC;
}
table.key_value tr > td
{
    border: 1px solid #CCC;
}

table.key_value td, table.key_value th
{
    border: 1px solid #CCC;
}
table.key_value tr:first-child th,
table.key_value tr:first-child td
{
    border-top: 0;
}
table.key_value tr:last-child td
{
    border-bottom: 0;
}
table.key_value tr td:first-child,
table.key_value tr th:first-child
{
    border-left: 0;
}
table.key_value tr td:last-child,
table.key_value tr th:last-child
{
    border-right: 0;
}

.column_text_small
{
    min-width: 150px;
    width: 10%;
}
.column_text_large
{
    min-width: 350px;
    width: 25%; 
}
.column_collapsible
{
    min-width: 250px;
    width: 15%;
}

table.diff
{
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family:Courier;
}

table.diff tr > td.diff_header
{
    text-align: right;
    background-color:#e0e0e0;
    border: 1px solid #CCC;
    border-top: 0;
    border-bottom: 0;
}
table.diff tr > td.diff_next
{
    text-align: center;
    background-color:#c0c0c0;
    border: 1px solid #CCC;
    border-top: 0;
    border-bottom: 0;
}
table.diff tr > th
{
    strong: true;
    border: 1px solid #CCC;
}

table.diff td span.diff_sub
{
    background-color: palevioletred;
}
table.diff td span.diff_add
{
    background-color: lightgreen;
}
table.diff td span.diff_chg
{
    background-color: lightblue;
}
